USE [LTM_TTN]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 11/25/2021 8:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[ID_CAUHOI] [int] IDENTITY(1,1) NOT NULL,
	[CAUHOI] [nvarchar](50) NOT NULL,
	[DAPANDUNG] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSDAPAN]    Script Date: 11/25/2021 8:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDAPAN](
	[ID_CAUHOI] [int] NULL,
	[DA1] [nvarchar](50) NOT NULL,
	[DA2] [nvarchar](50) NOT NULL,
	[DA3] [nvarchar](50) NOT NULL,
	[DA4] [nvarchar](50) NOT NULL,
	[DA5] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/25/2021 8:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[USERNAME] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](30) NOT NULL,
	[PWD] [varchar](20) NOT NULL,
	[LOP] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DSDAPAN]  WITH CHECK ADD FOREIGN KEY([ID_CAUHOI])
REFERENCES [dbo].[CAUHOI] ([ID_CAUHOI])
GO
